<div class="fullbar navbar-fixed-bottom">
    <div style="text-align: center;border-top:1px solid black;color:cadetblue;">
        <br>
        © Rui & Tom 2013
        <br>
        &nbsp;
    </div>
</div>